Repository elastic/stack-docs, pull requests merged in 2023-10, with the labels that each got.

#2552 [DOCS] Adds docs about custom URLs in DFA jobs
  docs/en/stack/ml/df-analytics/images/ml-dfa-custom-url-edit.png
  docs/en/stack/ml/df-analytics/images/ml-dfa-custom-url.png
  docs/en/stack/ml/df-analytics/index.asciidoc
  docs/en/stack/ml/df-analytics/ml-dfa-concepts.asciidoc
  docs/en/stack/ml/df-analytics/ml-dfa-custom-urls.asciidoc
Labels: :ml, backport-skip, v8.11

#2553 [DOCS] Remove link to doc that will be removed
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, backport-skip, v8.11

#2551 [DOCS] Adds v2 section to ELSER docs
  docs/en/stack/ml/nlp/images/ml-nlp-deployment-id-elser-v2.png
  docs/en/stack/ml/nlp/images/ml-nlp-deployment-id-elser.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-download.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-test.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-v1-v2.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-v2-download.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-v2-test.png
  docs/en/stack/ml/nlp/ml-nlp-deploy-models.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, backport-skip, nlp, ELSER, v8.11

#2554 Add 8.11 to backport and mergify configuration
  .backportrc.json
  .mergify.yml
Labels: backport-skip

#2555 [DOCS] Highlights how to switch to ELSER v2 from v1
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, ELSER, v8.11, backport-8.11, v8.12

#2558 Fixes typo in benchmark section anchor
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, ELSER, v8.11, backport-8.11, v8.12

#2560 [DOCS] Consolidates ELSER deployment guide with ES deployment tutorial content
  docs/en/stack/ml/nlp/images/ml-nlp-deploy-elser-v2-es.png
  docs/en/stack/ml/nlp/images/ml-nlp-pipeline-copy-customize.png
  docs/en/stack/ml/nlp/images/ml-nlp-start-elser-v2-es.png
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-limitations.asciidoc
Labels: :ml, WIP, nlp, ELSER, v8.11, backport-8.11, v8.12

#2563 Fixes URLs in OOTB security jobs and updates job IDs
  docs/en/stack/ml/anomaly-detection/ootb-ml-jobs-siem.asciidoc
Labels: :ml, v8.9.0, backport-8.9, v8.10, backport-8.10, v8.11, backport-8.11, v8.12

#2568 [DOCS] Adds section about tokens to ELSER conceptual
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, v8.8.0, ELSER, backport-8.8, v8.9.0, backport-8.9, v8.10, backport-8.10, v8.11, backport-8.11, v8.12

#2567 [DOCS] Documents that models with one allocation might have downtime
  docs/en/stack/ml/nlp/ml-nlp-deploy-models.asciidoc
Labels: :ml, nlp, v8.9.0, backport-8.9, v8.10, backport-8.10, v8.11, backport-8.11, v8.12

#2576 Improve rolling upgrade order docs
  docs/en/install-upgrade/upgrading-elasticsearch.asciidoc
Labels: v8.10, backport-8.10, v8.11, backport-8.11, v8.12

#2579 Adds ELSER V2 PS and PA benchmarks
  docs/en/stack/ml/nlp/images/ml-nlp-bm25-elser-v2.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-average-ndcg.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-bm-summary.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-ndcg10-beir.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-v1-v2.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-v2-pa-bm-results.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-v2-ps-bm-results.png
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, ELSER, v8.11, backport-8.11, v8.12
