Repository elastic/stack-docs, pull requests merged in 2023-06, with the labels that each got.

#2421 [DOCS] Adds hardware benchmarks to ELSER docs
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, v8.8.0, ELSER, backport-8.8, v8.9.0

#2423 [DOCS] Amends ML landing page to include ELSER
  docs/en/stack/ml/index-custom-title-page.html
Labels: :ml, nlp, v8.8.0, ELSER, backport-8.8, v8.9.0

#2425 [DOCS] Makes section title more descriptive on NLP model deployment page
  docs/en/stack/ml/nlp/ml-nlp-deploy-models.asciidoc
Labels: :ml, nlp, v8.8.0, backport-8.8, v8.9.0

#2428 [DOCS] Update security breaking changes link from 8.8.0 to 8.8.1
  docs/en/install-upgrade/breaking.asciidoc
Labels: backport-8.0, release-notes, v8.8.1

#2432 Removes sensitive information.
  docs/en/siem/cases/api/actions-api/cases-actions-api-intro.asciidoc
Labels: bug

#2433 [DOCS] Adds more conceptual info to ELSER
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, ELSER, backport-8.8, v8.9.0, v8.8.1

#2435 Adds size parameter to the reindex commands in the NLP examples
  docs/en/stack/ml/nlp/ml-nlp-inference.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-ner-example.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-text-emb-vector-search-example.asciidoc
Labels: :ml, backport-8.3, nlp, v8.3.3, backport-8.4, v8.5.0, v8.4.2, backport-8.5, v8.6.0, backport-8.6, backport-8.7, v8.7.1, backport-8.8, v8.9.0, v8.8.1

#2444 [DOCS] Adds note about the recommended node size for ELSER
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, ELSER, backport-8.8, v8.9.0, v8.8.2

#2446 Update mergify and backport for 8.9 branch
  .backportrc.json
  .mergify.yml
Labels: backport-skip

#2447 [DOCS] Adjusts note on minimum node size for ELSER and third-party models
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-model-ref.asciidoc
Labels: :ml, nlp, v8.8.0, ELSER, backport-8.8, v8.9.0, backport-8.9, v8.10

#2443 [DOCS] Update security breaking changes link from 8.8.1 to 8.8.2
  docs/en/install-upgrade/breaking.asciidoc
Labels: release-notes, backport-8.8, v8.8.2
