Repository elastic/stack-docs, pull requests merged in 2023-11, with the labels that each got.

#2581 Adds note on ELSER V2 is GA and V1 is in preview
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, ELSER, v8.11, backport-8.11, v8.12

#2584 Add link to ELSER v2 upgrade notebook
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, ELSER, v8.11, backport-8.11, v8.12

#2588 Makes ELSER version terminology consistent
  docs/en/stack/ml/nlp/images/ml-nlp-elser-v2-test.png
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, ELSER, v8.11, backport-8.11, v8.12

#2590 Adds modified graphics to ELSER benchmark docs
  docs/en/stack/ml/nlp/images/ml-nlp-elser-bm-summary.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-v2-cp-bm-results.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-v2-opt-bm-results.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-v2-pa-bm-results.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-v2-ps-bm-results.png
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, ELSER, v8.11, backport-8.11, v8.12

#2593 Updates the dense vector mappings in text embedding NLP example
  docs/en/stack/ml/nlp/ml-nlp-text-emb-vector-search-example.asciidoc
Labels: :ml, nlp, v8.11, backport-8.11, v8.12

#2592 Create CODEOWNER
  .github/CODEOWNERS
Labels: backport-skip

#2595 Adds Search Lab links to the ML book
  docs/en/stack/ml/index-custom-title-page.html
  docs/en/stack/ml/nlp/ml-nlp-examples.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-overview.asciidoc
Labels: :ml, nlp, v8.11, backport-8.11, v8.12

#2598 Adds docs about alerts data in Anomaly Explorer
  docs/en/stack/ml/anomaly-detection/images/anomaly-explorer-alerts.png
  docs/en/stack/ml/anomaly-detection/ml-buckets.asciidoc
Labels: :ml, backport-skip, v8.12
