Repository elastic/stack-docs, pull requests merged in 2023-05, with the labels that each got.

#2375 Fixes a broken link that points to the latest Eland docs
  docs/en/stack/ml/df-analytics/ml-trained-models.asciidoc
Labels: :ml, backport-8.1, backport-8.0, backport-7.17, backport-8.2, backport-8.3, backport-8.4, backport-8.5, backport-8.6, backport-8.7, backport-8.8

#2370 Adds instructions to deploy an Elastic NLP model in an air-gapped environment
  docs/en/stack/ml/nlp/ml-nlp-deploy-models.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, v8.8.0, backport-8.8

#2371 Drafts download and deployment docs for ELSER
  docs/en/stack/ml/nlp/images/ml-nlp-deploy-elser.png
  docs/en/stack/ml/nlp/images/ml-nlp-elser-download.png
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, v8.8.0, ELSER, backport-8.8, v8.9.0

#2388 [8.8][DOCS] Removes unnecessary section ID from NLP model deployment page
  docs/en/stack/ml/nlp/ml-nlp-deploy-models.asciidoc
Labels: :ml, backport-skip, nlp, v8.8.0

#2389 [DOCS] Changes the title of the ELSER page
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, v8.8.0, backport-8.8, v8.9.0

#2392 Forward-porting of fixes to ELSER deployment instructions
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: backport-skip

#2393 [DOCS] Adjusts intro para for ELSER
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, v8.8.0, backport-8.8, v8.9.0

#2397 Link from NLP ELSER doc to Ent Search ELSER deployment section
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: backport-8.8

#2396 [DOCS] Adds limitation item about ELSER v1
  docs/en/stack/ml/nlp/index.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-limitations.asciidoc
  docs/en/stack/ml/nlp/ml-nlp.asciidoc
Labels: :ml, nlp, v8.8.0, backport-8.8, v8.9.0

#2400 [DOCS] Adds conceptual docs about multiple NLP model deployments
  docs/en/stack/ml/nlp/images/ml-nlp-deployment-id.png
  docs/en/stack/ml/nlp/ml-nlp-deploy-models.asciidoc
Labels: :ml, nlp, v8.8.0, backport-8.8, v8.9.0

#2402 [DOCS] Add frontmatter for migration
  docs/en/stack/ml/anomaly-detection/ml-ad-explain.asciidoc
  docs/en/stack/ml/anomaly-detection/ml-ad-finding-anomalies.asciidoc
  docs/en/stack/ml/anomaly-detection/ml-ad-job-types.asciidoc
  docs/en/stack/ml/df-analytics/ml-dfa-classification.asciidoc
  docs/en/stack/ml/df-analytics/ml-dfa-outlier-detection.asciidoc
  docs/en/stack/ml/df-analytics/ml-dfa-overview.asciidoc
  docs/en/stack/ml/df-analytics/ml-dfa-regression.asciidoc
  docs/en/stack/ml/df-analytics/ml-how-dfa-works.asciidoc
  docs/en/stack/ml/get-started/ml-getting-started.asciidoc
  docs/en/stack/ml/machine-learning-intro.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-classify-text.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-deploy-models.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-extract-info.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-limitations.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-model-ref.asciidoc
  docs/en/stack/ml/nlp/ml-nlp.asciidoc
Labels: backport-8.1, backport-8.0, backport-8.2, backport-8.3, backport-8.4, backport-8.5, backport-8.6, backport-8.7, v8.9.0

#2412 [8.8][DOCS] Add frontmatter for migration (#2402)
  docs/en/stack/ml/anomaly-detection/ml-ad-explain.asciidoc
  docs/en/stack/ml/anomaly-detection/ml-ad-finding-anomalies.asciidoc
  docs/en/stack/ml/anomaly-detection/ml-ad-job-types.asciidoc
  docs/en/stack/ml/df-analytics/ml-dfa-classification.asciidoc
  docs/en/stack/ml/df-analytics/ml-dfa-outlier-detection.asciidoc
  docs/en/stack/ml/df-analytics/ml-dfa-overview.asciidoc
  docs/en/stack/ml/df-analytics/ml-dfa-regression.asciidoc
  docs/en/stack/ml/df-analytics/ml-how-dfa-works.asciidoc
  docs/en/stack/ml/get-started/ml-getting-started.asciidoc
  docs/en/stack/ml/machine-learning-intro.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-classify-text.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-deploy-models.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-extract-info.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-limitations.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-model-ref.asciidoc
  docs/en/stack/ml/nlp/ml-nlp.asciidoc
Labels: backport

#2418 [DOCS] Adds Docker install option to model deployment
  docs/en/stack/ml/nlp/ml-nlp-deploy-models.asciidoc
Labels: :ml, nlp, v8.8.0, backport-8.8, v8.9.0

#2417 Update security breaking changes link from 8.7 to 8.8
  docs/en/install-upgrade/breaking.asciidoc
Labels: release-notes, v8.8.0, backport-8.8
