Repository elastic/stack-docs, pull requests merged in 2023-09, with the labels that each got.

#2540 [DOCS] Adds testing ELSER section to ELSER conceptual
  docs/en/stack/ml/nlp/images/ml-nlp-elser-test.png
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, ELSER, v8.10, backport-8.10, v8.11

#2542 [ML] Fix `welcome-to-elastic` link
  docs/en/stack/ml/index-custom-title-page.html
Labels: backport-8.6, v8.6.1, backport-8.7, v8.7.1, backport-8.8, v8.9.0, v8.8.2, backport-8.9, v8.10, backport-8.10, v8.11

#2548 Add list of text similarity models to compatible NLP models
  docs/en/stack/ml/nlp/ml-nlp-model-ref.asciidoc
Labels: :ml, nlp, v8.10, backport-8.10, v8.11
