Repository elastic/stack-docs, pull requests merged in 2023-04, with the labels that each got.

#2367 [DOCS] Synch or remove shared attributes
  docs/en/getting-started/index.asciidoc
  docs/en/stack/ml/anomaly-detection/anomaly-how-tos.asciidoc
  docs/en/stack/ml/anomaly-detection/ml-influencers.asciidoc
  docs/en/stack/ml/anomaly-detection/ml-limitations.asciidoc
  docs/en/stack/ml/df-analytics/ml-dfa-classification.asciidoc
  docs/en/stack/ml/df-analytics/ml-dfa-outlier-detection.asciidoc
  docs/en/stack/ml/df-analytics/ml-dfa-overview.asciidoc
  docs/en/stack/ml/df-analytics/ml-dfa-regression-loss-functions.asciidoc
  docs/en/stack/ml/df-analytics/ml-dfa-regression.asciidoc
  docs/en/stack/ml/df-analytics/ml-feature-importance.asciidoc
  docs/en/stack/ml/index.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-inference.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-lang-ident.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-text-emb-vector-search-example.asciidoc
Labels: v8.8.0, backport-8.7, v8.7.1

#2369 [DOCS] Adds section title and anchor for model deployment in air-gaped env
  docs/en/stack/ml/nlp/ml-nlp-deploy-models.asciidoc
Labels: backport-skip, nlp, v8.8.0

#2372 Removes beta tag from NLP landing page
  docs/en/stack/ml/nlp/ml-nlp.asciidoc
Labels: :ml, nlp, v8.8.0, backport-8.7, v8.7.1

#2374 Add 8.8 to backport and mergify tools
  .backportrc.json
  .mergify.yml
Labels: backport-skip
