Repository elastic/stack-docs, pull requests merged in 2023-12, with the labels that each got.

#2602 Add Elastic Agent to stack installation instructions
  docs/en/install-upgrade/installing-stack.asciidoc
Labels: backport-8.11

#2604 Adds 8.12 to backport and mergify configuration
  .backportrc.json
  .mergify.yml
Labels: backport-skip, v8.13

#2605 [DOCS] Updates ELSER install steps
  docs/en/stack/ml/nlp/images/ml-nlp-elser-v2-download.png
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, ELSER, v8.12, v8.13, backport-8.12

#2350 a small correction ins the upgrade process.
  docs/en/install-upgrade/upgrading-stack.asciidoc
Labels: backport-8.11, backport-8.12

#2608 [DOCS] Puts lang ident example back
  docs/en/stack/ml/nlp/ml-nlp-lang-ident.asciidoc
Labels: :ml, nlp, v8.12, v8.13, backport-8.12

#2612 Edit github workflow for documentation previews
  .github/workflows/docs-preview-links.yml
Labels: backport-8.4, backport-8.5, backport-8.6, backport-8.7, backport-8.8, backport-8.9, backport-8.10, backport-8.11
