Repository elastic/stack-docs, pull requests merged in 2024-10, with the labels that each got.

#2818 Removes dead link from ELSER page
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, ELSER, v8.13, backport-8.13, v8.14, v.8.15, backport-8.14, backport-8.15, v8.16, backport-8.16

#2823 Add link to semantic re-ranking in model ref
  docs/en/stack/ml/nlp/ml-nlp-model-ref.asciidoc
Labels: backport-8.15, backport-8.16

#2793 Updates supported architectures list with DeBERTa
  docs/en/stack/ml/nlp/ml-nlp-model-ref.asciidoc
Labels: :ml, nlp, v8.16, backport-8.16

#2828 [DOCS] Removes frozen indices limitation item from anomaly detection docs
  docs/en/stack/ml/anomaly-detection/ml-limitations.asciidoc
Labels: :ml, backport-8.1, backport-8.0, backport-8.2, v8.2.1, v8.1.4, backport-8.3, v8.3.3, backport-8.4, v8.5.0, v8.4.2, backport-8.5, backport-8.6, v8.6.1, backport-8.7, v8.7.1, backport-8.8, v8.9.0, v8.8.2, backport-8.9, v8.10, backport-8.10, v8.11, backport-8.11, v8.12, v8.13, backport-8.12, backport-8.13, v8.14, v.8.15, backport-8.14, backport-8.15, v8.16, backport-8.16

#2849 [8.0][DOCS] Removes frozen indices limitation item from anomaly detection docs
  docs/en/stack/ml/anomaly-detection/ml-limitations.asciidoc
Labels: :ml, backport

#2848 [8.1][DOCS] Removes frozen indices limitation item from anomaly detection docs
  docs/en/stack/ml/anomaly-detection/ml-limitations.asciidoc
Labels: :ml, backport

#2847 [8.2][DOCS] Removes frozen indices limitation item from anomaly detection docs
  docs/en/stack/ml/anomaly-detection/ml-limitations.asciidoc
Labels: :ml, backport

#2850 [8.4][DOCS] Removes frozen indices limitation item from anomaly detection docs
  docs/en/stack/ml/anomaly-detection/ml-limitations.asciidoc
Labels: :ml, backport

#2851 [8.5][DOCS] Removes frozen indices limitation item from anomaly detection docs
  docs/en/stack/ml/anomaly-detection/ml-limitations.asciidoc
Labels: :ml, backport

#2795 [DOCS] Documents trained model auto-scaling
  docs/en/stack/ml/nlp/images/ml-nlp-deployment-id-elser-v2.png
  docs/en/stack/ml/nlp/index.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-autoscaling.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-deploy-models.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-e5.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-limitations.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-shared.asciidoc
  docs/en/stack/ml/nlp/ml-nlp.asciidoc
Labels: :ml, nlp, ELSER, v8.16, backport-8.16

#2853 [DOCS] Changes trained model UI screenshot
  docs/en/stack/ml/nlp/images/ml-nlp-test-ner.png
  docs/en/stack/ml/nlp/ml-nlp-deploy-models.asciidoc
Labels: :ml, nlp, v8.16, backport-8.16

#2855 Improves ELSER recommendations
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
  docs/en/stack/ml/nlp/ml-nlp.asciidoc
Labels: :ml, nlp, ELSER, v8.16, backport-8.16

#2857 Improves trained model autoscaling docs
  docs/en/stack/ml/nlp/ml-nlp-autoscaling.asciidoc
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, ELSER, v8.16, backport-8.16

#2859 Fixes typo in autoscaling docs
  docs/en/stack/ml/nlp/ml-nlp-autoscaling.asciidoc
Labels: nlp, v8.16, backport-8.16

#2861 Adds 8.16 branch to backport and mergify configuration
  .backportrc.json
  .mergify.yml
Labels: backport-8.17

#2863 Add the ability to backport to `main`
  .mergify.yml
Labels: backport-skip
