Repository elastic/stack-docs, pull requests merged in 2024-01, with the labels that each got.

#2622 [DOCS] Adds E5 terms of use to docs
  docs/en/stack/ml/nlp/ml-nlp-e5.asciidoc
Labels: :ml, nlp, v8.12, v8.13, backport-8.12

#2624 Adds reference to E5 model in ELSER docs
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, ELSER, v8.12, v8.13, backport-8.12

#2626 Temporarily comment out include statement
  docs/en/install-upgrade/breaking.asciidoc
  docs/en/install-upgrade/index.asciidoc
Labels: backport-8.1, backport-8.0, backport-7.17, backport-8.2, backport-8.3, backport-8.4, backport-8.5, backport-8.6, backport-8.7

#2597 Add on-prem stack install demo
  docs/en/install-upgrade/images/install-stack-metrics-dashboard.png
  docs/en/install-upgrade/images/stack-install-final-state.png
  docs/en/install-upgrade/index.asciidoc
  docs/en/install-upgrade/installing-stack-demo-secure.asciidoc
  docs/en/install-upgrade/installing-stack-demo-self.asciidoc
  docs/en/install-upgrade/installing-stack.asciidoc
Labels: backport-skip

#2651 Updates model deployment commands using Eland and Docker
  docs/en/stack/ml/nlp/ml-nlp-deploy-models.asciidoc
Labels: :ml, nlp, v8.12, v8.13, backport-8.12

#2653 Renames Terms of Use section to Disclaimer in E5 docs
  docs/en/stack/ml/nlp/ml-nlp-e5.asciidoc
Labels: :ml, nlp, v8.13, backport-8.12

#2655 [DOCS] Completes air-gapped ELSER install procedure
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, nlp, ELSER, v8.11, backport-8.11, v8.12, v8.13, backport-8.12

#2658 Update the EMS section in the air-gapped documentation
  docs/en/install-upgrade/air-gapped-install.asciidoc
Labels: backport-8.12

#2660 Suggest chunking for large ELSER fields
  docs/en/stack/ml/nlp/ml-nlp-elser.asciidoc
Labels: :ml, backport-skip, nlp, ELSER, backport-8.11, backport-8.12
